<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:macro name="imu" params="*origin parent:=base_footprint name:=imu topic_name:=imu/data update_rate:=30.0">

		<!-- IMU Base Mount Joint -->
		<joint name="${name}_base_mount_joint" type="fixed">
			<xacro:insert_block name="origin" />
			<parent link="${parent}"/>
			<child link="${name}_base_footprint"/>
		</joint>

		<!-- IMU Base -->
		<link name="${name}_base_footprint">
			<inertial>
				<mass value="0.385" />
				<origin xyz="0 0 0"/>
				<inertia ixx="0.00000008608" ixy="0" ixz="0" iyy="0.00000033679" iyz="0" izz="0.00000860809" />
			</inertial>
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<box size="0.18 0.091 0.018"/>
				</geometry>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<box size="0.18 0.091 0.018"/>
				</geometry>
			</collision>
		</link>

		<gazebo>
			<material>Gazebo/Orange</material>
			<plugin name="imu_plugin" filename="libhector_gazebo_ros_imu.so">
				<robotNamespace>qev</robotNamespace>
				<updateRate>${update_rate}</updateRate>
				<bodyName>${name}_base_footprint</bodyName>
				<topicName>${topic_name}</topicName>
				<accelDrift>0.005 0.005 0.005</accelDrift>
				<accelGaussianNoise>0.005 0.005 0.005</accelGaussianNoise>
				<rateDrift>0.005 0.005 0.005 </rateDrift>
				<rateGaussianNoise>0.005 0.005 0.005 </rateGaussianNoise>
				<headingDrift>0.005</headingDrift>
				<headingGaussianNoise>0.005</headingGaussianNoise>
			</plugin>
		</gazebo>

	</xacro:macro>
</robot>
