<?xml version="1.0" ?>
<model>
    <name>lakeside_track</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Nathan Nahrung</name>
        <email>nnahrung@gmail.com</email>
    </author>
    <description>This config file has been automaticly generated</description>
</model>
