<?xml version="1.0"?>

<model>
  <name>QEV2-version2</name>
  <version>1.0</version>
  <sdf version="1.6">suspension_soft.sdf</sdf>

  <author>
    <name>QUT Autonomous Team</name>
    <email></email>
  </author>

  <description>
    A 4-wheel cart with rigid suspension, with steering.
  </description>
</model>


