<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:macro name="qev2_imu" params="	*origin 
                                      	parent:=base_link 
                                      	name:=imu 
                                      	topic_name:=imu/data
                                      	update_rate:=30.0">

		<!-- IMU Base Mount Joint -->
		<joint name="${name}_base_mount_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}_base_link"/>
  	</joint>

		<!-- IMU Base -->
    <link name="${name}_base_link">
			<inertial>
        <mass value="0.385" />
				<origin xyz="0 0 0"/>
        <inertia ixx="0.00000008608" ixy="0" ixz="0" iyy="0.00000033679" iyz="0" izz="0.00000860809" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.18 0.091 0.018"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"  />
        <geometry>
          <box size="0.18 0.091 0.018"/>
        </geometry>
      </collision>
    </link>

	<gazebo>
  	  <plugin name="imu_controller_${name}" filename="libhector_gazebo_ros_imu.so">
  	    <robotNamespace>$(arg robot_namespace)</robotNamespace>
  	    <updateRate>${update_rate}</updateRate>
  	    <bodyName>${name}_base_link</bodyName>
  	    <topicName>${topic_name}</topicName>
  	    <accelDrift>0.005 0.005 0.005</accelDrift>
  	    <accelGaussianNoise>0.005 0.005 0.005</accelGaussianNoise>
  	    <rateDrift>0.005 0.005 0.005 </rateDrift>
  	    <rateGaussianNoise>0.005 0.005 0.005 </rateGaussianNoise>
  	    <headingDrift>0.005</headingDrift>
  	    <headingGaussianNoise>0.005</headingGaussianNoise>
  	  </plugin>
  	</gazebo>

	</xacro:macro>
</robot>
