<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  	<xacro:macro name="qev2_zed_camera" params="	*origin 
                                      	parent:=base_link 
                                      	name:=zed_camera">

		<!-- Camera Base Mount Joint -->
		<joint name="${name}_base_mount_joint" type="fixed">
  	  		<xacro:insert_block name="origin" />
  	  		<parent link="${parent}"/>
  	  		<child link="${name}_base_link"/>
  		</joint>

		<!-- Camera Base -->
  		<link name="${name}_base_link">
		<inertial>
  	    	<mass value="0.135" />
			<origin xyz="0 0 0"/>
  	    	<inertia ixx="0.00000110261" ixy="0" ixz="0" iyy="0.00003751945" iyz="0" izz="0.00003100781" />
  	  	</inertial>
  	  	<visual>
  	    	<origin xyz="0 0 0" rpy="0 0 0" />
  	    	<geometry>
  	    	  <box size="0.03 0.175 0.033" />
  	    	</geometry>
  	  	</visual>
  	  	<collision>
  	    	<origin xyz="0 0 0" rpy="0 0 0"  />
  	    	<geometry>
  	      	<box size="0.03 2.0 0.033" />
  	    	</geometry>
  	  	</collision>
  		</link>
		<gazebo reference="${name}_base_link">
			<sensor type="multicamera" name="${name}">
  	  			<update_rate>30.0</update_rate>
				<camera name="z-left">
					<pose>0 0.06 0 0 0 0</pose>
					<horizontal_fov>1.5707963268</horizontal_fov>
					<image>
		  			<width>3840</width>
		  			<height>1080</height>
		  			<format>R8G8B8</format>
					</image>
					<clip>
		  			<near>0.5</near>
		  			<far>25</far>
					</clip>
					<noise>
  	  	      			<type>gaussian</type>
  	  	      			<mean>0.0</mean>
  	  	      			<stddev>0.007</stddev>
  	  	  			</noise>
				</camera>
				<camera name="z-right">
					<pose>0 -0.06 0 0 0 0</pose>
					<horizontal_fov>1.5707963268</horizontal_fov>
					<image>
		  			<width>3840</width>
		  			<height>1080</height>
		  			<format>R8G8B8</format>
					</image>
					<clip>
		  			<near>0.5</near>
		  			<far>25</far>
					</clip>
					<noise>
  	  	      			<type>gaussian</type>
  	  	      			<mean>0.0</mean>
  	  	      			<stddev>0.007</stddev>
  	  	  			</noise>
				</camera>
  				<plugin name="qev2_camera_plugin" filename="libgazebo_ros_multicamera.so">
					<alwaysOn>true</alwaysOn>
					<updateRate>0.0</updateRate>
					<cameraName>${name}</cameraName>
  	  	  			<imageTopicName>image_raw</imageTopicName>
  	  	  			<cameraInfoTopicName>camera_info</cameraInfoTopicName>
  	  	  			<frameName>${name}_base_link</frameName>
  	  	  			<hackBaseline>0.07</hackBaseline>
  	  	  			<distortionK1>0.0</distortionK1>
  	  	  			<distortionK2>0.0</distortionK2>
  	  	  			<distortionK3>0.0</distortionK3>
  	  	  			<distortionT1>0.0</distortionT1>
  	  	  			<distortionT2>0.0</distortionT2>
  				</plugin>
			</sensor>
  		</gazebo>
  	</xacro:macro>
</robot>