<?xml version="1.0"?>
<launch>

  <!-- Image pipeline launch -->
  <node pkg="qutms_autonomous_nodes" type="Image_Pipeline" name="qev_image" output="screen">
  <param name="_image_transport" type="string" value="compressed"/>
  </node>

  <!-- Controller launch -->
  <node pkg="qutms_autonomous_nodes" type="Auto_Controller" name="qev_controller" output="screen"/>

</launch>
